<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="landing/css/main.css">
    <script src="landing/js/main.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <meta name="generator" content="Unicorn Platform" />
    <title>Homepage</title>
  </head>
  <body>
<!-- START OF: Header 23 =====-->
<header class="header-23 js-scroll-this-box">
  <!-- START OF: Nav 2 =====-->
  <nav class="nav-02">
    <div class="container container--large">
      <div class="nav-02__box">
        <div class="nav-02__logo"><a class="nav-02__link" href="javascript:void(0);" target="_blank">
            <!--You can use image logo:--><img class="nav-02__logo_img" src="landing/img/other/favicon.png" alt="Logo"/>
            <!--Or uncomment this <span> to have a word-logo.-->
            <span class="nav-02__logo_text">Aristotl</span>
          </a></div>
        <div class="nav-02__links js-menu">
          <ul class="nav-02__list">
            <li class="nav-02__item"><a class="button   button--black-outline " href="/login"><span>Sign Up</span></a>
            </li>
          </ul>
          <div class="nav-02__burger">
            <button class="burger burger--black js-open-menu" type="button">
              <div class="burger__box">
                <div class="burger__inner"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- ===== END OF: Nav 2-->
  <div class="container container--large header-23__container">
    <div class="header-23__left">
      <div class="header-23__left_content">
        <h1 class="heading heading--accent header-23__heading">Academic assistance - just a text away</h1>
        <p class="header-23__text">Instantly connect with a qualified expert and get personalized help whenever you need it.</p>
        <div class="header-23__cta_box">
          <div class="buttons-set">
            <ul class="buttons-set__list">
              <li class="buttons-set__item"><a class="button   button--alt-accent-bg " href="/login"><span>Sign Up</span></a>
              </li>
            </ul>
            <div class="buttons-set__info">Instant sign up. No credit card required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-23__right"><img class="header-23__img" src="landing/img/illustrations/icons8-mirage-msgsent.png"/></div>
  </div>
</header>
<!-- ===== END OF: Header 23-->
    <!-- This is the root element of the image gallery plugin - PhotoSwipe (https://github.com/dimsemenov/PhotoSwipe)-->
    <!-- Do not delete it.-->
    <!-- It's invisible to user.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>