.msgbubble {
    justify-content: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.bubblecontainer {
    margin-bottom: 1em;
    width: 100%;
}

.round {
    border-radius: 300000px;
    padding-left: 1em;
    padding-right: 1em;
}

div.usermsg{
    text-align: right;
}

span.usermsg {
    text-align: right;
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
}

span.othermsg {
    text-align: left;
    background-color: #f5f5f5;
    border-color: transparent;
    color: #363636;
}