.msgBoard {
    height: 100%;
    display: table
}

.msgContent {
    max-height: 95%;
    display: table-cell;
    vertical-align: bottom;
    overflow: hidden;
}

.boardContainer {
    overflow-y: scroll;
    height: 95%;
}

.boardContainer::-webkit-scrollbar {
    width: 12px;
}

.boardContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.boardContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}